.showmembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-basis: 70%;
    .member-card {
        margin: 20px;
        background: rgb(218, 209, 206);
        padding: 0;
        display: flex;
        max-width: 200px;
        border-radius: 5px;
        flex-direction: column;
        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        img {
            height: fit-content;
            width: fit-content;

            max-width: 200px;
            max-height: 200px;
        }
        h5{
            padding-left: 8px;
        }
        h6{
            padding-left: 8px;
        }
        p{
            padding: 8px;
        }
    }
    .member-card:hover{
        box-shadow: 0 8px 32px 0 rgba(0,0,0,0.2);
    }
}

@media screen and (max-width: 768px) {
    .showmembers {
        flex-basis: 100%;
        .member-card {
            margin: 5px;
        }
    }
}
