@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

@import "components/index";
@import "partials/base";



html {
  font-family: $font ,sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  box-sizing: border-box;
}
