@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

@import 'components/index';
@import 'partials/base';

html {
    font-family: $font, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    box-sizing: border-box;
}

.mainbody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
    padding: 1rem;
}


pre {
    padding: 1rem;
    background-color: whitesmoke;
}

code {
    background-color: whitesmoke;
}

.post-content {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
    border-left: 1px solid #eaecef;
    border-right: 1px solid #eaecef;
    border-bottom: 1px solid #eaecef;
}

@media (max-width: 767px) {
    .post-content {
        padding: 15px;
    }
}
