@import 'components/index';
@import 'partials/base';

html {
    font-family: $font, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    box-sizing: border-box;
    color: $element-dark;
}

.mainbody {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
    padding: 1rem;
}


