// @import 'components/components';
@import 'partials/base';


$font : 'Roboto';

html {
	font-family: $font ,sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
  }